* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav--icon {
    height: 30px;
    margin-right: 7px;
}

/*Main*/

.main {
    background: #282D35;
    height: 100vh;
    color: #DEEBF8;
    padding: 3em 2em;
}
h1 {
    margin: 0;
    padding-bottom: 1em;
    font-size: 2.5em;
    letter-spacing: -.05em
}

ul {
    list-style-type: none;
    margin: 0;
}

li::marker {
  content: "• ";
  color: #00D8FF;
  margin-right: .5em;
  font-size: 2em;
}
