body {
    margin: 0;
<<<<<<< HEAD
    overflow: hidden;
}

=======
    padding: 0;
    overflow: hidden;
}
>>>>>>> bbce1fb44d45a38e48e828cadeed6ef68e0065a9
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 60px;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items>li {
    padding: 10px;
    font-weight: 900;
}

#root div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.heading {
    font-size: 3em
}

.header {
    margin: 0;
    margin-bottom: 0;
    box-shadow: 0 0 15px gray;
    padding: 0 .5em;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1em;
}

ol li {
    line-height: 1.5;
    font-size: 1.4em;

}

.footer {
    background: gray;
    color: #fff;
    padding: 1em;
    font-weight: 900;
    font-size: 1.2em;
}
